
body, button, input, select, textarea { font-family: sans-serif; color: #222; }
body, div {
  margin:0;
}

html, body {
  min-height:480px; /* so we can hide the URL bar , without viewport height=device-height*/
  height:100%;
  width:100%;
}

.NOT {
  /* from colorzilla - swap center bottom */
  background: rgb(7,48,78); /* Old browsers */
  background: -moz-radial-gradient(center bottom, ellipse cover,  rgb(7,48,78) 0%, rgb(0,19,45) 72%, rgb(0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center bottom, 0px, center bottom, 100%, color-stop(0%,rgb(7,48,78)), color-stop(72%,rgb(0,19,45)), color-stop(100%,rgb(0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center bottom, ellipse cover,  rgb(7,48,78) 0%,rgb(0,19,45) 72%,rgb(0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center bottom, ellipse cover,  rgb(7,48,78) 0%,rgb(0,19,45) 72%,rgb(0,0,0) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center bottom, ellipse cover,  rgb(7,48,78) 0%,rgb(0,19,45) 72%,rgb(0,0,0) 100%); /* IE10+ */
  background: radial-gradient(center bottom, ellipse cover,  rgb(7,48,78) 0%,rgb(0,19,45) 72%,rgb(0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07304e', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */  
}
body {
  background:black; 
  /* Chrome10+,Safari5.1+ */
  background: -webkit-radial-gradient(center center, circle cover,  rgb(128,128,255) 0%,rgb(0,0,0) 40%); 

  background-size:100% 200%;
  /* to recenter the bg */
  background-position:50% 0%;

  -webkit-transition: background-position 1s;
  -moz-transition: background-position 1s;
  
}

/* Landscape Nexus/iPhone */
@media screen and (min-width: 361px) and (max-width: 600px) {
  body {
    background-position:50% 25%; /* bring up the focus */
  }
  .addObs {
    display:none;
  }
  .addObsBtn {
    display:none;
  }
}

.addObs {
  z-index:20; /* dygraph labels at 10, .addObs at 20 */
  position: fixed;
  width:100%;
  bottom:-24px;

  margin:0px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;

  -webkit-transition: bottom 1s;
  -moz-transition: bottom 1s;

}

.addObs .activeControls {
  /*border: 1px solid yellow;*/
}

.addObs .activeControls .arctouch {
  /*border: 1px solid green;*/
  position:fixed;
  bottom:0px; /* 64+2xborder=6*/
  width:100%;
  height:320px;

  margin:auto;
}
.addObs .activeControls .arctouch canvas {
  /*border: 1px solid red;*/
  /*background:rgba(255,255,0,.1);*/
  display: block;
  margin: auto;
  /*width:100%;*/
  /*height:100%;*/
  /*max-width: 400px;*/
  /*position:fixed;*/
  z-index:15; /* dygraph labels at 10, .addObs at 20 */
}
.addObs.showing {
  bottom:0px;
  background: rgba(64,64,64, 0.6);
  opacity:1;
}
.addObs.showing .activeControls {
  opacity:1;
}

.addObs.showing .addObsBtn {
  border: 6px solid rgba(64,64,255,.5);
  bottom: 0px;
  z-index:20;
}

.addObs .activeControls {
  opacity:0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
}
.cancelObsBtn , .resetObsBtn {
  position: absolute;
  top:16px;
}
.resetObsBtn {
  left:16px;
}
.cancelObsBtn {
  right:16px;
}

.addObsBtn {
  z-index: 25;
  /* center in parentL needs size */
  position:fixed;
  bottom: -16px;
  left:50%;
  margin-left: -32px;
  width:64px;
  height:64px;

  background:black;
  background: rgba(0,0,0, 0.8);
  border: 6px solid rgba(255,255,255,.5);
  
  -webkit-border-radius: 64px;
  -moz-border-radius: 64px;
  border-radius: 64px;
}

#value {
  width:60%;
  margin:auto;
  margin-bottom:80px;
  padding:20px;
  text-align:center;
  color:white;
  background:rgba(0,0,0,.5);
  font-size:300%;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.now {
  position:relative;
  z-index: 20;
  width:60%;
  margin:auto;
  margin-top:15px;
  margin-bottom:40px;
  padding:5px;
  text-align:center;
  color:white;
  background:black;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.now span {
  font-size:200%;  
}
.now input {
  font-size:110%;  
}

#dygraph {
/*  display:none;*/
/*width:320px;*/
  width:100%;
  height:200px;
/*
  width:800px;
  height:400px;
*/
}

#dygraph .dygraph-title {
  color:gray;
}

#current {
  width:60%;
  margin:auto;
  margin-bottom:40px;
  padding:20px;
  text-align:center;
  color:rgb(64,64,255);
  font-size:300%;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#console {
  display:none;
  position:fixed;
  top:0px;
  width:100%;
  color:#333;
  background:#ccc;
}