
body, button, input, select, textarea { font-family: sans-serif; color: #222; }
body, div {
  margin:0;
}

html, body {
  height:100%;
  width:100%;
}

body {
  background:black;
}
.NOT {
  /* from colorzilla - swap center bottom */
  background: rgb(7,48,78); /* Old browsers */
  background: -moz-radial-gradient(center bottom, ellipse cover,  rgb(7,48,78) 0%, rgb(0,19,45) 72%, rgb(0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center bottom, 0px, center bottom, 100%, color-stop(0%,rgb(7,48,78)), color-stop(72%,rgb(0,19,45)), color-stop(100%,rgb(0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center bottom, ellipse cover,  rgb(7,48,78) 0%,rgb(0,19,45) 72%,rgb(0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center bottom, ellipse cover,  rgb(7,48,78) 0%,rgb(0,19,45) 72%,rgb(0,0,0) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center bottom, ellipse cover,  rgb(7,48,78) 0%,rgb(0,19,45) 72%,rgb(0,0,0) 100%); /* IE10+ */
  background: radial-gradient(center bottom, ellipse cover,  rgb(7,48,78) 0%,rgb(0,19,45) 72%,rgb(0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07304e', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */  
}
body {


  background: -webkit-radial-gradient(center bottom, circle cover,  rgb(128,128,255) 0%,rgb(0,0,0) 40%); /* Chrome10+,Safari5.1+ */
  background: -webkit-radial-gradient(center center, circle cover,  rgb(128,128,255) 0%,rgb(0,0,0) 40%); /* Chrome10+,Safari5.1+ */

  background-size:100% 200%;
  /* to recenter the bg */
  background-position:50% 0%;
/*  background-position:50% 50%;*/

  -webkit-transition: background-position 1s;
  -moz-transition: background-position 1s;
  
}
#container {
}

.addObs {
  z-index:10;
  position: fixed;
/*  position: absolute;*/
bottom:-24px;
  width:100%;

  -webkit-transition: bottom 1s;
  -moz-transition: bottom 1s;

}
.addObs.showing {
  bottom:32px;
}
.addObs.showing .activeControls {
  display:block;
  opacity:1;
}

.addObs .activeControls {
  /*  display:none;*/
  opacity:0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
}
.cancelObsBtn , .resetObsBtn {
  position: absolute;
  bottom:50px;
}
.cancelObsBtn {
  left:15%;
}
.resetObsBtn {
  right:15%;
}

.addObsBtn {
/*  z-index:2;*/

  /* center in parent */
  margin:auto;

  width:64px;
  height:64px;

  background:black;
  background: rgba(0,0,0, 0.8);
  border: 6px solid rgba(255,255,255,.5);
  
  -webkit-border-radius: 64px;
  -moz-border-radius: 64px;
  border-radius: 64px;
}

#value {
  width:60%;
  margin:auto;
  margin-top:10px;
  padding:20px;
  text-align:center;
  color:white;
  background:black;
  font-size:300%;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.now {
  width:250px;
  margin:auto;
  padding:20px;
  text-align:center;
  color:white;
  background:black;
  font-size:200%;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#dygraph {
/*  display:none;*/
  width:320px;
  height:200px;
}
#console {
  display:none;
  position:fixed;
  top:0px;
  width:100%;
  color:#333;
  background:#ccc;
}